# Node modules
/node_modules

# Next.js build directory
/.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store

# Optional: If you don’t want to track these sitemaps
/public/sitemap.xml
/public/sitemap-0.xml

